Source: golang-github-google-uuid
Section: golang
Priority: optional
Maintainer: Debian Go Packaging Team <team+pkg-go@tracker.debian.org>
Uploaders: Dmitry Smirnov <onlyjob@debian.org>
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13),
               dh-sequence-golang,
               golang-any
Testsuite: autopkgtest-pkg-go
Standards-Version: 4.6.2
Vcs-Browser: https://salsa.debian.org/go-team/packages/golang-github-google-uuid
Vcs-Git: https://salsa.debian.org/go-team/packages/golang-github-google-uuid.git
Homepage: https://github.com/google/uuid
XS-Go-Import-Path: github.com/google/uuid

Package: golang-github-google-uuid-dev
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: generates and inspects UUIDs based on RFC 4122
 This package generates and inspects UUIDs based on RFC 4122
 (http://tools.ietf.org/html/rfc4122) and DCE 1.1: Authentication and
 Security Services.
 .
 This package is based on the "github.com/pborman/uuid" package. It differs
 from these earlier packages in that a UUID is a 16 byte array rather than
 a byte slice. One loss due to this change is the ability to represent an
 invalid UUID (vs a NIL UUID).
